<div class="card">
  <div class="bg-img"><img src={{tool.logo}} /></div>
  <div class="content">
    <h4>{{tool.name}}</h4>
    <p>{{tool.version}} {{tool.use}}</p>
    <form style="display: inline" action={{tool.link}} method="get">
      <button>Read More</button>
    </form>
  </div>
</div>